In [5]:
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

# Load the wholesale customers dataset
try:
    data = pd.read_csv(r"C:\Users\acer pc\Desktop\customers.csv")
    data.drop(['Region', 'Channel'], axis = 1, inplace = True)
    print("Wholesale customers dataset has {} samples with {} features each.".format(*data.shape))
except:
    print("Dataset could not be loaded. Is the dataset missing?")

Wholesale customers dataset has 440 samples with 6 features each.

In [6]:
display(data.describe())

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [7]:
# TODO: Select three indices of your choice you wish to sample from the dataset
indices = [85, 181, 338]

# Create a DataFrame of the chosen samples
samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True)
print("Chosen samples of wholesale customers dataset:")
display(samples)

Chosen samples of wholesale customers dataset:

    Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0   16117  46197    92780    1026             40827        2944
1  112151  29627    18148   16745              4948        8550
2       3    333     7021   15601                15         550

In [13]:
# TODO: Make a copy of the DataFrame, using the 'drop' function to drop the given feature
new_data = data.drop("Grocery", axis=1)
new_data

import sklearn 
# TODO: Split the data into training and testing sets using the given feature as the target
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_data, data["Grocery"], test_size=0.25, random_state=0)

# TODO: Create a decision tree regressor and fit it to the training set
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0).fit(X_train, y_train)

# TODO: Report the score of the prediction using the testing set
score = regressor.score(X_test, y_test)
print("Score of prediction on test set: ", score)

Score of prediction on test set:  0.6028019788784589

In [16]:
features_list = ["Fresh","Milk","Grocery","Frozen","Detergents_Paper"]

for feature in features_list:
    # TODO: Make a copy of the DataFrame, using the 'drop' function to drop the given feature
    new_data = data.drop(feature, axis=1)
    new_data
    print("Feature is: ", feature)

    # TODO: Split the data into training and testing sets using the given feature as the target
    X_train, X_test, y_train, y_test = train_test_split(new_data, data[feature], test_size=0.25, random_state=0)

    # TODO: Create a decision tree regressor and fit it to the training set
    regressor = DecisionTreeRegressor(random_state=0).fit(X_train, y_train)

    # TODO: Report the score of the prediction using the testing set
    score = regressor.score(X_test, y_test)
    print("Score of prediction on test set: ", score)

Feature is:  Fresh
Score of prediction on test set:  -0.2524698076882732
Feature is:  Milk
Score of prediction on test set:  0.36572529273630905
Feature is:  Grocery
Score of prediction on test set:  0.6028019788784589
Feature is:  Frozen
Score of prediction on test set:  0.2539734466970086
Feature is:  Detergents_Paper
Score of prediction on test set:  0.7286551812541454

In [21]:
import pandas as pd
from pandas.plotting import scatter_matrix

# Produce a scatter matrix for each pair of features in the data
pd.scatter_matrix(data, alpha = 0.3, figsize = (14,8), diagonal = 'kde');

AttributeError: module 'pandas' has no attribute 'scatter_matrix'

In [22]:
# TODO: Scale the data using the natural logarithm
log_data = np.log(data)

# TODO: Scale the sample data using the natural logarithm
log_samples = np.log(samples)

In [23]:
display(log_samples)

       Fresh       Milk    Grocery    Frozen  Detergents_Paper  Delicassen
0   9.687630  10.740670  11.437986  6.933423         10.617099    7.987524
1  11.627601  10.296441   9.806316  9.725855          8.506739    9.053687
2   1.098612   5.808142   8.856661  9.655090          2.708050    6.309918

In [24]:
potential_outliers = []

# For each feature find the data points with extreme high or low values
for feature in log_data.keys():
    
    # TODO: Calculate Q1 (25th percentile of the data) for the given feature
    Q1 = np.percentile(log_data[feature],25)
    
    # TODO: Calculate Q3 (75th percentile of the data) for the given feature
    Q3 = np.percentile(log_data[feature],75)
    
    # TODO: Use the interquartile range to calculate an outlier step (1.5 times the interquartile range)
    step = 1.5 * (Q3-Q1)
    
    # Display the outliers
    print("Data points considered outliers for the feature '{}':".format(feature))
    display(log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))])
    list = log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))].index.tolist()
    potential_outliers.append(list)
    
# OPTIONAL: Select the indices for data points you wish to remove
outliers  = []

# Remove the outliers, if any were specified
good_data = log_data.drop(log_data.index[outliers]).reset_index(drop = True)

Data points considered outliers for the feature 'Fresh':

        Fresh       Milk    Grocery    Frozen  Detergents_Paper  Delicassen
65   4.442651   9.950323  10.732651  3.583519         10.095388    7.260523
66   2.197225   7.335634   8.911530  5.164786          8.151333    3.295837
81   5.389072   9.163249   9.575192  5.645447          8.964184    5.049856
95   1.098612   7.979339   8.740657  6.086775          5.407172    6.563856
96   3.135494   7.869402   9.001839  4.976734          8.262043    5.379897
128  4.941642   9.087834   8.248791  4.955827          6.967909    1.098612
171  5.298317  10.160530   9.894245  6.478510          9.079434    8.740337
193  5.192957   8.156223   9.917982  6.865891          8.633731    6.501290
218  2.890372   8.923191   9.629380  7.158514          8.475746    8.759669
304  5.081404   8.917311  10.117510  6.424869          9.374413    7.787382
305  5.493061   9.468001   9.088399  6.683361          8.271037    5.351858
338  1.098612   5.808142   8.856661  9.655090          2.708050    6.309918
353  4.762174   8.742574   9.961898  5.429346          9.069007    7.013016
355  5.247024   6.588926   7.606885  5.501258          5.214936    4.844187
357  3.610918   7.150701  10.011086  4.919981          8.816853    4.700480
412  4.574711   8.190077   9.425452  4.584967          7.996317    4.127134

Data points considered outliers for the feature 'Milk':

         Fresh       Milk    Grocery    Frozen  Detergents_Paper  Delicassen
86   10.039983  11.205013  10.377047  6.894670          9.906981    6.805723
98    6.220590   4.718499   6.656727  6.796824          4.025352    4.882802
154   6.432940   4.007333   4.919981  4.317488          1.945910    2.079442
356  10.029503   4.897840   5.384495  8.057377          2.197225    6.306275

Data points considered outliers for the feature 'Grocery':

        Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicassen
75   9.923192  7.036148  1.098612  8.390949          1.098612    6.882437
154  6.432940  4.007333  4.919981  4.317488          1.945910    2.079442

Data points considered outliers for the feature 'Frozen':

         Fresh      Milk    Grocery     Frozen  Detergents_Paper  Delicassen
38    8.431853  9.663261   9.723703   3.496508          8.847360    6.070738
57    8.597297  9.203618   9.257892   3.637586          8.932213    7.156177
65    4.442651  9.950323  10.732651   3.583519         10.095388    7.260523
145  10.000569  9.034080  10.457143   3.737670          9.440738    8.396155
175   7.759187  8.967632   9.382106   3.951244          8.341887    7.436617
264   6.978214  9.177714   9.645041   4.110874          8.696176    7.142827
325  10.395650  9.728181   9.519735  11.016479          7.148346    8.632128
420   8.402007  8.569026   9.490015   3.218876          8.827321    7.239215
429   9.060331  7.467371   8.183118   3.850148          4.430817    7.824446
439   7.932721  7.437206   7.828038   4.174387          6.167516    3.951244

Data points considered outliers for the feature 'Detergents_Paper':

        Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicassen
75   9.923192  7.036148  1.098612  8.390949          1.098612    6.882437
161  9.428190  6.291569  5.645447  6.995766          1.098612    7.711101

Data points considered outliers for the feature 'Delicassen':

         Fresh       Milk    Grocery     Frozen  Detergents_Paper  Delicassen
66    2.197225   7.335634   8.911530   5.164786          8.151333    3.295837
109   7.248504   9.724899  10.274568   6.511745          6.728629    1.098612
128   4.941642   9.087834   8.248791   4.955827          6.967909    1.098612
137   8.034955   8.997147   9.021840   6.493754          6.580639    3.583519
142  10.519646   8.875147   9.018332   8.004700          2.995732    1.098612
154   6.432940   4.007333   4.919981   4.317488          1.945910    2.079442
183  10.514529  10.690808   9.911952  10.505999          5.476464   10.777768
184   5.789960   6.822197   8.457443   4.304065          5.811141    2.397895
187   7.798933   8.987447   9.192075   8.743372          8.148735    1.098612
203   6.368187   6.529419   7.703459   6.150603          6.860664    2.890372
233   6.871091   8.513988   8.106515   6.842683          6.013715    1.945910
285  10.602965   6.461468   8.188689   6.948897          6.077642    2.890372
289  10.663966   5.655992   6.154858   7.235619          3.465736    3.091042
343   7.431892   8.848509  10.177932   7.283448          9.646593    3.610918

In [25]:
data.iloc[[65,66,75,128,154]]

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
65      85  20959    45828      36             24231        1423
66       9   1534     7417     175              3468          27
75   20398   1137        3    4407                 3         975
128    140   8847     3823     142              1062           3
154    622     55      137      75                 7           8

In [26]:
potential_outliers

[[65, 66, 81, 95, 96, 128, 171, 193, 218, 304, 305, 338, 353, 355, 357, 412],
 [86, 98, 154, 356],
 [75, 154],
 [38, 57, 65, 145, 175, 264, 325, 420, 429, 439],
 [75, 161],
 [66, 109, 128, 137, 142, 154, 183, 184, 187, 203, 233, 285, 289, 343]]

In [30]:
mult_outlier_indices_dict = {}

for i in range(len(potential_outliers)):
    current_feature_ol = potential_outliers[i]
    for po in current_feature_ol:
        mult_ol = set()
        mult_ol.add(i)
        if po not in mult_outlier_indices_dict.keys():
            for other_feat in range(i, len(potential_outliers)):
                if po in potential_outliers[other_feat]:
                    mult_ol.add(other_feat)
        if len(mult_ol) > 1:
            mult_outlier_indices_dict[po] = mult_ol
            
print(mult_outlier_indices_dict)

{65: {0, 3}, 66: {0, 5}, 128: {0, 5}, 154: {1, 2, 5}, 75: {2, 4}}

In [35]:
from sklearn.decomposition import PCA

pca = PCA(n_components=6)
pca.fit(good_data)

# TODO: Transform the sample log-data using the PCA fit above
pca_samples = pca.transform(log_samples)

# Generate PCA results plot